{% extends 'base.html.twig' %}
{% block title %} Mood heureux{% endblock %}
{% block body %}

<div class="cards" style="flex-direction: row;">
<h3>Bientôt le week-end</h3><br>
<p>Que l'on soit lundi, mardi, ou même un autre jour de la semaine, le week-end n'est jamais très loin
</p>
<a href="#"><i class="fas fa-arrow-left" style="color: black;"></i></a>
<a href="#"><i class="fas fa-arrow-right" style="color: black;"></i></a>
</div>




{% endblock %}