body {
    background: linear-gradient(to right, rgb(201, 93, 93), white);
    
}


.centre {
    width: 20%;
    padding: 1%;
    background-color: rgb(177, 68, 68);
    border-radius: 15px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    margin: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    flex-direction: column;
}

.centre1 {
    width: 20%;
    padding: 1%;
    background-color: rgb(177, 68, 68);
    border-radius: 15px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    flex-direction: column;
}

.cards {
    width: 20%;
    padding: 1%;
   background-color: rgb(177, 68, 68);
    border-radius: 15px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    margin: auto;
    margin-top: 50vh;
    transform: translateY(-70%);
    margin-bottom: 1%;
    text-align: center;
}


.navbar-custom {
    background-color: #f0a7b3;
    font-size: 24px;
}


.nav-link {
    color: #f15a5a !important;
    font-size: 22px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}


.nav-link:hover {
    background-color: white;
    border-radius: 10px;
    color: #b17c7c;
    font-size: 24px;
}

.nav-link1 {
    font-size: 24px;
    color: #b17c7c;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.nav-link1:hover {
    color: #b17c7c;
    background-color: #dfdfdf;
    border-radius: 10px;
    font-size: 26px;
}

.btn {
    background-color: antiquewhite;
}

button {
    text-decoration: none !important;
    background-color: #b17c7c;
    border-radius: 5px !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    border: none;
    width: 130px;
}

.center {
    text-align: center;
    padding-top: 5%;
    margin-bottom: 5%;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: turquoise;
}