{% extends 'base.html.twig' %}
{% block title %} Choisis ton mood{% endblock %}
{% block body %}

<h2 class="center">Choisis ton mood</h2>
<div class="centre" style="flex-direction: row;">
    <button type="button" href="/happy">Heureux</button>
</div>
<div class="centre" style="flex-direction: row;">
    <button type="button" href="/sad">Triste</button>
</div>
<div class="centre" style="flex-direction: row;">
    <button type="button" href="/angry">En colère</button>
</div>


{% endblock %}