{% extends 'base.html.twig' %}
{% block title %} Choisis ton mood{% endblock %}
{% block body %}

<h2 class="center">Choisis ton mood</h2>
<div class="centre1" style="flex-direction: row;">
    <button type="button"><a class="link" href="{{ path('app_happy') }}"</a>Heureux</button>
</div>
<div class="centre1" style="flex-direction: row;">
    <button type="button"><a class="link" href="{{ path('app_sad') }}"</a>Triste</button>
</div>


{% endblock %}